/* GLOBAL */
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    /* DEBUGGING*/
/*    BORDER: 1px solid black;*/
}
html{
    font-size: 14px; font-family: 'Montserrat';
    color: 233a2e;height: 100%;
}
body{
    width: 100%;
    background-color: #c7eee0;
    -ms-overflow-style: none;
    display: flex; flex-direction: column;
}
body::-webkit-scrollbar {display: none;}
a{
    text-decoration: none; color: #223a2e;
    font-size: clamp(0.7rem, 1.5vw, 1.5rem);
    line-height: 1;
}
p{ 
    font-family: 'Montserrat';
    font-size: clamp(1rem, 1vw, 1.5rem);
    line-height: 1.8; color: #223a2e;
}
h1{
    font-family: 'Pangolin';
    font-size: clamp(20px, 3vw, 4rem); text-align: center;
    width: 100%; color: #38806b; margin: 5vh 0;
}
h2{
    font-family: 'Pangolin';
    font-size: clamp(18px, 2.5vw, 2rem);
    text-align: center; width: 100%; color: #38806b;
    margin: 5vh 0 1vh 0;
}
img{max-width: 100%; height: auto; display: block;}
ul{line-height: 1.8;}

.icon{
    background-color:#f1b0bc; border-radius: 100%;
}
.button{
    background-color:#f1b0bc; border-radius: 10%;
    padding: 0.5rem 1rem; text-align: center; width:auto;
    color: white;
}
.button:hover, .icon:hover{
    transition: background-color 0.3s ease;
    background-color: #7dd1a5;
}
.underline{
    max-height: 5vh; margin: 5vh 0; width: 100%;
}
.copyright{
    width: 100%; text-align: center; 
    margin-top: 5vw; background-color: #38806b;
}
.copyright p{color: #c7eee0;}

/* NAV BAR */
.nav-bar{
    display: flex; position: fixed; top: 1vh; width: 100%;
    align-items: center; justify-content: space-around; height: 7vh; z-index: 10;
}
.left-nav{
    width: 100%; font-size: clamp(1rem, 1vw, 1.2rem);
    text-align: left; padding-left: 5vw;
    display: inline-block; white-space: nowrap;
}
.right-nav{
    width: 100%; font-size: clamp(1rem, 1vw, 1.2rem);
    text-align: right; padding-right: 5vw;
    display: inline-block; white-space: nowrap;
}
.left-nav *, .right-nav *{
    margin: 0 2vw; text-shadow: 0 0 5px #c7eee0;
}
.left-nav *:hover, .right-nav *:hover{
    transition: color 0.3s ease;
    color: #7dd1a5;
}
.logo{
    width: 100%; top: 1vh; display:flex;
    justify-content: center; margin-top: 1vh;
}
.logo img{
    width: 15%; min-width: 50px;
}
#contact-me{
    text-align: right; overflow: hidden;
}


/* HEADER*/

header{
    margin: 9vh 0 0 0;
    justify-content: center;
}
header h1{width:100%; margin-bottom: 0;}

.header-links {
    display: flex; position:absolute; width: 60vw; 
    right: 0; padding-top: 5%; padding-right: 10%;
    flex-direction: column; align-items: center;
}
.header-links ul{
    display: flex; list-style: none;
}
.header-links li{
 width: clamp(20px, 4vw, 50px); margin: 1vh 0.75vw;
    box-shadow: 0px 0px 10px #c7eee0;
}
header img{
    width: auto; max-height: 80vh; margin: auto;
} 

/* ABOUT SECTION */
.about{
    display: flex; flex-direction: column; justify-content: center; margin: 0 8vw 5vh 8vw; align-content: center;
}
.about p{
    width: clamp(300px, 50vw, 700px); margin:  auto;
    margin-bottom: 5vh;
}
.about .button{
    margin: auto;
}


/* GAME AND ART SECTION */
.game-list, .art-list, .video-list{
    display: flex; flex-wrap: wrap; padding: 5vh 15vw;
    justify-content: center; align-items: center;
}
.game-title, .art-piece, .video-list *{
    position: relative; margin: 1vw 1vh; overflow: hidden;
}
.game-title:hover, .art-list a:hover, .art-piece:hover, .video-list a:hover{
    transform: scale(1.03); transition: transform .3s ease;
}
.game-title img, .art-list img, .video-list img{
    border-radius: 10%;
}
.video-list *{width: clamp(250px, 20vw, 500px);}
.overlay{
    position: absolute; top: 0; bottom: 0; left: 0; right: 0;
    width: 100%; height: 100%; transition: .3s ease; background-color: rgba(0.8, 0.8, 0.8, 0.8);
    display: flex; flex-direction: column;
    justify-content: center; padding: 0 10%;
    border-radius: 10%; opacity: 0;
}
.overlay:hover{opacity: 1;}
.overlay p{
    color: white; font-size: clamp(1rem, 1vw, 1.2rem);
}
.overlay .button{
    margin: 1vh auto; font-size: clamp(1rem, 1vw, 1.2rem);
}
#vertical{
    display: flex; flex-direction: column;
    justify-content: space-around;
}

/* GAMES AND COMIC PAGES */
.summary{
    display: flex; flex-direction: column;
    margin: 5vh 0; flex-wrap: wrap; width: 100%;
}
.summary iframe{
    margin: auto;
}
.summary .description{
    display: flex; margin: 0 20vw 5vh 20vw;
    justify-content: center;
    align-content: center;
}
.description p{
    width: clamp(200px, 30vw, 800px); 
    padding: 5vh 0 0 2.5vw;
}
.skills{
    display: flex; flex-direction: column;
    margin: auto; flex-wrap: wrap;
    width: clamp(200px, 10vw, 500px);
}
.skills h2{
    font-size: clamp(1rem, 1.5vw, 2rem);
}
.skills .button{
    margin-top: 3vh;
}
.date{text-align: right; margin-right: 2vw;}

.asset-list, .sketch-list{
    display: flex; flex-wrap: wrap; padding: 5vh 15vw;
    justify-content: center; align-items: center;
}
.asset-list *{
    margin: 1vh 1vw; border-radius: 10%;
    max-height: 20vh; width: clamp(300px, 20vw; 500px);
}
.process{
    margin: 0 15vw 5vh 15vw;
}
.sketch-list *{
    margin: 1vh 1vw; border-radius: 10%;
    max-height: 50vh; width: clamp(300px, 20vw; 500px);
}
.art-summary{
    display: flex; flex-direction: column;
    justify-content: center; align-content: center;
    margin: 0 10vw;
}
.art-summary *{margin: auto;}
.art-summary p{margin:0 20vw 5vh 20vw; min-width: 300px;}
.art-summary img{max-height: 40vh; margin-bottom: 5vh}


/* RESPONSIVE STUFF */
@media only screen and (max-width: 970px) {
    .game-list .overlay{
        display: none;
    }
    .art-list .overlay {
        position: relative; opacity: 1;
        background-color: rgba(58, 102, 89, 0.2);
        margin: auto; margin-top: 2vh; margin-bottom: 5vh;
        width: 50vw; min-width: 300px;
    }
    .art-list .overlay p{
        text-align: center; margin: 2vh 2vw 0 2vw;
        color: rgba(58, 102, 89, 1.0);
    }
    .art-list .overlay .button{
        color: rgba(58, 102, 89, 1.0)
    }
    .art-piece img{margin: auto;}
}

@media only screen and (max-width: 700px){
    .summary iframe{width: 80%;}
    .description{flex-direction: column;}
    .description p{width: 100%;}
}